.results-page {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.results-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;

  color: white;
  padding: 0 20px 40px;
}

.results-body h2 {
  margin: 40px 0 60px;
  font-size: 50px;
}

.results-body h3 {
  font-size: 35px;
  margin-bottom: 10px;
}

.results-body h4 {
  font-size: 25px;
}

.results-body h3 span,
.results-body h4 span {
  margin: 0 12px;
}

.results-body .navigation-links {
  margin-top: 80px;
}

.results-body .navigation-links a {
  color: white;
  padding: 10px;
  border: none;
  background-color: rgb(54, 193, 212);
  border-radius: 5px;
  width: 150px;
  display: inline-block;
  text-align: center;

  transition: background-color 0.2s;
}

.results-body .navigation-links a:hover {
  background-color: rgb(34, 123, 158);
}

.results-body .navigation-links a + a {
  margin-left: 20px;
}

@media (max-width: 600px) {

  .results-body .navigation-links {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .results-body .navigation-links a + a {
    margin: 20px 0 0;
  }

  .results-body h2 {
    text-align: center;
  }

}
