.app-header {
  width: 100vw;
  color: white;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 20px;

  border-bottom: 1px solid white;
}

.app-header > img {
  height: 8vh;
}

.app-header .player-score {
  font-size: 30px;
}

.app-header .header-content {
  display: flex;
  align-items: center;
}

.app-header .header-content img {
  height: 6vh;
  border-radius: 100%;
}

.app-header .header-content span {
  margin-left: 12px;
}

.app-header .player-score span:last-child {
  margin-right: 10px;
}

@media (max-width: 600px) {

  .app-header .player-score {
    font-size: 24px;
  }

  .app-header .header-content .player-name {
    display: none;
  }
}
